APPLICATION_NAME = "SLC_CALENDAR"
TWITTER_CONSUMER_KEY = ''
TWITTER_CONSUMER_SECRET = ''
TWITTER_BEARER_TOKEN = ''

TWITTER_LISTS = [ ["Starlight_chann", 1006957219303211008], ["Starlight_chann", 1012256204825874433] ]

YOUTUBE_DATA_API_KEY = ''
GOOGLE_CALENDAR_ID = ''
GOOGLE_CALENDAR_CLIENT_SECRET_PATH = 'secret.json'
TIME_ZONE = 'Japan'

